@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Sansita:wght@800&display=swap');

/* This is the Menu Code */

.nav {
  float:right;
}

.burger-png {
  position:absolute;
  width: 10%;
  justify-content:right;
  padding-left: 85%;
  padding-top: 5%;
  cursor: pointer;
}

.content {
  list-style: none;
  display: none;
}

.content.hidden {
  display:block;
}

.gif {
    position: relative;
    width:15%;
    left: 5px;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } 
  
  .active {
    border-style: double;
    border-color:rgb(175, 79, 14);
    background-color: gray;
  }*/
 
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: lightgray;
  }

body {
   background-color: black; 
   font-family: 'Open Sans', sans-serif, extrabold;
   font-weight: bolder; 
}

h1 {
    color: #EC2B7B;
    font-family: 'Sansita', sans-serif;
    font-size: 3.5vw;
    position:absolute;
    margin-left: 16%;
    margin-top: -7%;
}

h3{
    color: #E9D72A;
    font-family: 'Sansita', sans-serif;
    font-size: 3.5vw;
    position:absolute;
    margin-left: 15.3%;
    margin-top: -3.5%;
    
}

h2 {
    color:#A26FAE;
    font-family: 'Sansita', sans-serif;
    font-size: 10vw;
    position: relative;
    width: 20%;
    margin-top: 0px;
    margin-bottom:0px;
    margin-left: 48%;
}

.fullwork {
    align-items: left;
}


p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.5vw;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 20.5%;
}
/*.menu {
    background-color: gold;
    border-style: solid;
    border-color: white;
}*/

/*.image1 {
    background-color: gold;
    width: 500px;
    height: 500px;
}*/

.framework {
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.work {
    width: 60%;
    padding-left: 20%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

/*@media only screen and (max-width: 600px) {
    ul{
        background-color: rgb(175, 79, 14);
    }
    .active {
        background-color: rgb(175, 79, 14);
      }
    li a{
        color:rgb(255, 196, 0);
    }
    body {
      background-color: gold;
    }
    
    p {
        color: rgb(53, 25, 7);
    }*/
 

