@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Sansita:wght@800&display=swap');

/* This is the Menu Code */

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: black;
  position: relative;
 /* border-style: dashed;
  border-color: blue;*/
}

/*.active {
  border-style:dashed;
  border-color: red;

}

.icon {
  border-style:dashed;
  border-color: green;
}*/


/* dropdown menu sizing*/
#mylinks {
  /*border-style:dashed;
  border-color: yellow;*/
  width: 20%;
  padding-left: 80%;

}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color:#2ADBD3;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 17px;
  text-align: right;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

i {
  color:#7AEC29 ;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color:#EB6D29;
  color: #2adbd3;
}

/* Style the active link (or home/logo) */
.active {
  background-color: black;
}

.gif {
    position: relative;
    width:15%;
    left: 5px;
    padding-top:-5%;
}


body {
   background-color: black; 
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
}

.fluid {
    color: #EC2B7B;
    font-family: 'Sansita', sans-serif;
    font-size: 3.5vw;
    position:absolute;
    margin-left: 16%;
    margin-top: -10%;
}

.creative {
    color: #E9D72A;
    font-family: 'Sansita', sans-serif;
    font-size: 3.5vw;
    position:absolute;
    margin-left: 15.3%;
    margin-top: -6.5%;
    
}

.recent {
    color:#A26FAE;
    font-family: 'Sansita', sans-serif;
    font-size: 7vw;
    position: relative;
    width: 20%;
    margin-top: 0px;
    margin-bottom:0px;
    margin-left: 48%;
}

.fullwork {
    align-items: left;
}

.work {
  width: 45%;
  padding-left: 30%;
}

p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-size: 1.5vw;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 20.5%;
}



